.heading{
    color: brown;
    font-size: medium;
    margin-top: 23%;
    background-color: rgb(255, 149, 0);
}
.smallHeading{
    color:brown;
    font-size: medium;
    background-color: rgb(255, 149, 0);

}